* {
  box-sizing: border-box;
}

body {
  background: #9CD382;
  background: linear-gradient(rgba(102, 196, 58, 0.43), rgba(157, 196, 58, 0.64), rgba(215, 174, 49, 0.77));
  font-family: sans-serif;
  padding: 2rem;
}

a {
  color: rgb(62, 78, 23);
  text-decoration: none;
}

a:visited {
  color: rgba(62, 78, 23, 0.8);
}

a:hover, a:focus{
  text-decoration: underline;
}

img {
  max-width: 100%;
}

.container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(250, 250, 250, 0.9);
}

header {
  text-align: center;
  width: 100%;
}

nav {
  width: 100%;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

nav li {
  background-color: rgba(102, 196, 58, 0.2);
  padding: 1rem;
  width: 24.8%;
  list-style: none;
  display: inline;
  font-weight: lighter;
}

nav li.active {
  background-color: rgba(102, 196, 58, 0.4);
}

article {
  margin: 3rem auto;
  width: 75%;
}

article h2 {
  text-align: center;
}

article figure {
  width: 66%;
  margin: auto;
}

article figcaption {
  text-align: right;
  color: gray;
}

article small {
  text-align: right;
}

footer {
  text-align: center;
  width: 100%;
  padding: 2rem;
  background-color: rgb(215, 174, 49);
  color: white;
  font-size: 1.3em;
  font-weight: lighter;
}

footer form {
  margin-left: 2rem;
  display: inline;
}